@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", "Poppins", serif;
}

.heading {
  font-family: "Jersey 25", serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 639px) {
  thead {
    display: none;
  }
}

::selection {
  /* color: rgb(82, 15, 145); */
  background: rgb(32, 126, 169);
}